*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
   
}

.carousel-item img{
    width: 100%;
    height: 90vh;
}
.services img{
    width: 100%;
    height: 100%;
}

  